.UserData {
  img {
    width: 44px;
    border-radius: 100%;
    margin-top: 3px;
    float: right;
    margin-right: 14px;
  }

  span {
    float: left;
    display: block;
    margin-left: 14px;
    margin-top: 14px;
  }
}
